@import url('https://use.typekit.net/ews7fke.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
.text-stroke-hero {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.crazy-text {
  line-height: 1.5em !important;
}
.stamplink:hover img {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.homepage-product {
  transition: 0.3s ease;
}

/* .homepage-product:hover .rock img {
  transform: scale(1.25) translateX(-50%);
  transition: 0.3s ease;
} */
.homepage-product:hover .rock img {
  animation: spinAndScale 1s infinite;
  transform-origin: center;
}

@keyframes spinAndScale {
  0% {
    transform: scale(1) translateX(-50%) rotate(0deg);
  }
  50% {
    transform: scale(1.25) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}
.lightwidget-widget {
  width: 100%;
  border: 0;
  overflow: hidden;
}
