@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/Montserrat-Bold.ttf) format('ttf');
  }

  @font-face {
    font-family: 'MontserratRegular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Montserrat-Medium.ttf) format('ttf');
  }
  @font-face {
    font-family: 'MontserratLight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Montserrat-Light.ttf) format('ttf');
  }
  @font-face {
    font-family: 'MontserratSemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Montserrat-SemiBold.ttf) format('ttf');
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
.text-stroke-hero {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.crazy-text {
  line-height: 1.5em !important;
}
